In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option("display.max_rows",10000)
pd.set_option("display.max_columns",40)

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("test_values.csv")

In [3]:
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area,height,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,d502,337f,808e,f,q,s,d,0,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,d502,337f,808e,f,q,s,d,0,1,0,0,0,0,0,0,0,0,0,v,1,1,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,d502,337f,808e,f,q,s,d,0,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,d502,337f,x,v,j,d502,d,0,0,0,0,0,1,0,0,0,0,0,v,2,1,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,d502,337f,q,f,q,d502,d,0,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(86868, 39)

### Remove unwanted features

In [5]:
df1 = df.drop(['building_id','geo_level_1_id','geo_level_2_id','geo_level_3_id','area',
              'roof_type','ground_floor_type','other_floor_type','position','plan_configuration',
              'legal_ownership_status','count_families','has_secondary_use',
              'has_secondary_use_agriculture', 'has_secondary_use_hotel', 'has_secondary_use_rental', 
              'has_secondary_use_institution','has_secondary_use_school', 'has_secondary_use_industry',
              'has_secondary_use_health_post', 'has_secondary_use_gov_office','has_secondary_use_use_police', 
              'has_secondary_use_other'], axis=1)

In [6]:
df1.head()

,count_floors_pre_eq,age,height,land_surface_condition,foundation_type,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other
0,3,20,6,d502,337f,0,1,0,0,0,0,0,0,0,0,0
1,2,25,5,d502,337f,0,1,0,0,0,0,0,0,0,0,0
2,2,5,5,d502,337f,0,1,0,0,0,0,0,0,0,0,0
3,1,0,3,d502,337f,0,0,0,0,0,1,0,0,0,0,0
4,3,15,7,d502,337f,0,1,0,0,0,0,0,0,0,0,0

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86868 entries, 0 to 86867
Data columns (total 16 columns):
count_floors_pre_eq                       86868 non-null int64
age                                       86868 non-null int64
height                                    86868 non-null int64
land_surface_condition                    86868 non-null object
foundation_type                           86868 non-null object
has_superstructure_adobe_mud              86868 non-null int64
has_superstructure_mud_mortar_stone       86868 non-null int64
has_superstructure_stone_flag             86868 non-null int64
has_superstructure_cement_mortar_stone    86868 non-null int64
has_superstructure_mud_mortar_brick       86868 non-null int64
has_superstructure_cement_mortar_brick    86868 non-null int64
has_superstructure_timber                 86868 non-null int64
has_superstructure_bamboo                 86868 non-null int64
has_superstructure_rc_non_engineered      86868 non-null int64
has_superstructure_rc_engineered          86868 non-null int64
has_superstructure_other                  86868 non-null int64
dtypes: int64(14), object(2)
memory usage: 10.6+ MB

In [8]:
df1.shape

(86868, 16)

In [9]:
#save to csv
#df1.to_csv("testselect.csv",index=False)

In [10]:
df1 = pd.read_csv("testselect.csv")

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86868 entries, 0 to 86867
Data columns (total 16 columns):
count_floors_pre_eq                       86868 non-null int64
age                                       86868 non-null int64
height                                    86868 non-null int64
land_surface_condition                    86868 non-null object
foundation_type                           86868 non-null object
has_superstructure_adobe_mud              86868 non-null int64
has_superstructure_mud_mortar_stone       86868 non-null int64
has_superstructure_stone_flag             86868 non-null int64
has_superstructure_cement_mortar_stone    86868 non-null int64
has_superstructure_mud_mortar_brick       86868 non-null int64
has_superstructure_cement_mortar_brick    86868 non-null int64
has_superstructure_timber                 86868 non-null int64
has_superstructure_bamboo                 86868 non-null int64
has_superstructure_rc_non_engineered      86868 non-null int64
has_superstructure_rc_engineered          86868 non-null int64
has_superstructure_other                  86868 non-null int64
dtypes: int64(14), object(2)
memory usage: 10.6+ MB

In [12]:
df1['land_surface_condition'].value_counts()

d502    72180
808e    11885
2f15     2803
Name: land_surface_condition, dtype: int64

In [13]:
df1['foundation_type'].value_counts()

337f    73178
858b     4930
6c3e     4648
467b     3603
bb5f      509
Name: foundation_type, dtype: int64

### We will combine with train set to do whole encoding